.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center; /* Center boxes if they don't fill a row */
  padding: 0;
}

.libox {
  
  width:calc(25% - 20px); /* 4 boxes per row, considering gap */
  box-sizing: border-box;
  border: 2px solid black;
  padding: 10px;
  list-style-type: none;
  text-align: center;
  background-color: blueviolet;
  color:white
  
}
.libox button{
  justify-content: center;
  color:brown
}
